.literal-block-wrapper {
  margin: 1em 0em;
}

.literal-block-wrapper .highlight {
  margin: 0px;
  border: .1em solid #dddddd;
}

.literal-block-wrapper .code-block-caption .caption-text{
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
  padding: 0.3em 0.5em;
  border: .1em solid #dddddd;
  border-radius: 0.3rem .3rem 0 0;
  border-color: #dddddd;
  background-color: #dddddd;
}
